<div class="card max-width center">
    <h1 class="font-bold text-8xl line-height-1">Login</h1>
    <span class="text-4xl">Please enter your credentials to login</span>

    <div>
        <p>Username: <b>emilys</b> and password: <b>emilyspass</b> or choose from <a
                href="https://dummyjson.com/users">all the other users</a></p>

        <p-messages [(value)]="errorMessage" [closable]="false" severity="danger" />
        <form (ngSubmit)="onSubmit()" class="flex flex-column gap-2">
            <div class="form-control input flex flex-column gap-2">
                <label for="username">Username</label>
                <input pInputText type="text" [(ngModel)]="username" id="username" name="username"
                    placeholder="Enter your username" />
            </div>
            <div class="form-control input flex flex-column gap-2">
                <label for="password">Password</label>
                <input pInputText type="password" [(ngModel)]="password" id="password" name="password"
                    placeholder="Enter your password" />
            </div>
            <div class="form-control">
                <p-button type="submit" class="btn" iconPos="left" icon="pi pi-sign-in" label="Login"></p-button>
            </div>
        </form>
    </div>
</div>