
    <div class="flex flex-column">
        <p-message *ngIf="(todos$ | async)?.length === 0" enableService="false" closable="false" severity="info"
            text="Nothing to see here!" />
        <div *ngFor="let item of todos$ | async"
            class="flex justify-content-between align-items-center gap-2 card border-round border-300 border-1 px-3 py-1 my-2">
            <div class="flex gap-2 w-full" (click)="toggleTodo(item.id)" >
                <p-checkbox binary="true" [(ngModel)]="item.completed" disabled />

                @if (item.completed) {
                <p><del>{{ item.title }}</del></p>
                }
                @else {
                <p (click)="toggleTodo(item.id)">{{ item.title }}</p>
                }
            </div>
            <p-button size="small" icon="pi pi-trash" (click)="removeTodo(item.id)"></p-button>

        </div>

    </div>