<div>

    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <label for="username">Nieuw todo-item:</label>
            <input 
                pInputText
                id="username" 
                #todoInput
                (keyup.enter)="addTodo(todoInput.value); todoInput.value = ''"
                aria-describedby="username-help" />
                <p-button label="Submit" icon="pi pi-check" iconPos="right" (click)="addTodo(todoInput.value)"/>
        </div>
    </div>

    <ul>
        <li *ngFor="let item of todos$ | async ; let i = index" (click)="toggleTodo(item.id)">
            @if (item.completed) {
                <del>{{ item.title }}</del>&nbsp;
            } @else {
                {{ item.title }}&nbsp;
            }
            <p-button label="Remove" icon="pi pi-trash" iconPos="left" (click)="removeTodo(item.id)"></p-button>
        </li>
    </ul>
</div>